@font-face {
    font-family: Bebas;
    src: url('../fonts/Bebas.ttf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: StMarie;
    src: url('../fonts/StMarie-Thin.otf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CalibriLight;
    src: url('../fonts/Calibri.ttf') ;
}

@font-face {
    font-family: Calibri;
    src: url('../fonts/calibril.ttf') ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    height: 1925px;
}

a {
    text-decoration: none;
}

/*HEADER*/

.header-container {
    z-index: 1000;
    width: 100%;
    position: absolute;
    top: 0;

}

.div-wrapper {
    width: 1600px;
    background-color: white;
    height: 128px;
    margin: 0 auto;
}

.logo-name {
    display: inline-block;
    float: right;
    color: #6e6d6b;
    font-family: Bebas;
    font-size: 37px;
    top: -4px;
    margin-top: 11px;
    margin-left: 51px;
    letter-spacing: 2px;
}

.logo {
    margin-left: 218px;
    margin-top: 5px;
    width: 88px;
    height: 106px;
}

.logo:hover {
    filter: drop-shadow(3px 3px 5px #fb9c06);
    cursor: pointer;
}

.logo-name::first-line {
    font-family: Calibri;
    font-weight: bolder;
    color: #fb9c06;
    font-style: normal;
}

.logo-name-first-part {
    display: inline-block;
    margin-left: 4px;
    margin-top: 4px;
    font-family: Calibri;
    font-weight: bolder;
    color: #fb9c06;
    font-style: normal;
    letter-spacing: 1px;
}

.logo-name-second-part {
    margin-left: 0px;
    margin-top: 1px;
}

section {
    /* position: absolute; */
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    float: left;
}

ul span {
    position: relative;
    top: 60px;
    color: #9E9B9B;
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0.7px;
}

ul a:first-child {
    display: block;
    min-width: 50px;
    height: 60px;
    background-image: url('../img/sprites/link_sprites.png');
}

.navigation-element {
    margin-left: 74px;
}

/*подгоняем позиции первых двух*/
.navigation-element:nth-of-type(2) {
    margin-left: 70px;
}

.navigation-element:nth-of-type(3) {
    margin-left: 68px;
}

/*подгоняем позиции певых двух end*/
ul a:hover {
    filter: drop-shadow(3px 3px 5px #fb9c06);
}

.logo-container {
    float: left;
}

.nav-main {
    float: right;
    margin-right: 204px;
    margin-top: 18px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.home {
    background-position: -10px 122px;
}

.about {
    background-position: 9px -5px;
}

.work {
    background-position: -11px 59px;
}

.blog {
    background-position: -8px 242px;
}

.contact {
    background-position: 3px 188px;
}

/*HEADER END*/

/* ORANGE */
.orange-banner::before {
    content: "";
    height: 128px;
    display: block;
}

.orange-banner__content {
    border-top: 5px #FCBA50 solid;
    border-bottom: 5px #FCBA50 solid;
    position: relative;
}

.orange-banner__picture {
    height: 400px;
    background-image: url('../img/big-orange-bg.png');
}

.first-question-banner {
    padding-top: 7px;
    background-color: rgba(76, 79, 79, 0.8);;
    height: 59px;
    width: 380px;
    position: absolute;
    top: 130px;
    left: 221px;
}

.first-question-letters {
    font-family: Bebas;
    font-size: 37px;
    color: #FB9C06;
    width: 100%;
    height: 100%;
    word-spacing: -1px;
    padding-left: 29px;
    letter-spacing: 1px;
}

.second-question-banner {
    position: absolute;
    background-color: rgba(252, 199, 89, 0.7);
    height: 66px;
    padding-top: 11px;
    padding-left: 1px;
    width: 395px;
    text-align: center;
    position: absolute;
    top: 222px;
    left: 211px;
}

.second-question-letters {
    font-family: Bebas;
    font-size: 37px;
    color: #6E6D6B;
    width: 100%;
    height: 100%;
    word-spacing: 0px;
    padding-left: 10px;
    letter-spacing: 1px;
}

/* ORANGE /end*/

/* About */

.about-articles {
    margin-top: 20px;
    padding-bottom: 26px;
    border-bottom: solid 1px #F2F2F2;
}

.about-articles__content {
    margin: 0 auto;
    width: 75%;
}

.about-article {
    width: 24%;
    display: inline-block;
    margin-right: 9px;
}

.about-article__text {
    font-family: Calibri;
    font-weight: 800;
    font-size: unset;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 1.44;
    height: 140px;
    overflow: hidden;
}

.about-article__link {
    color: orange;
    float: right;
    font-family: Calibri, sans-serif;
    font-style: italic;
    letter-spacing: 0.05em;
    margin-right: 6px;
    line-height: 19px;
}

.about-article__link:hover {
    filter: drop-shadow(3px 3px 5px #fb9c06);
    font-size: 18px;
}

/* About /end */

/* TEAM */

.team__greeting {
    font-family: StMarie;
    font-size: 40px;
    color: #fb9c06;
    padding-top: 17px;
    margin-left: 671px;

    letter-spacing: 1.09px;
    width: fit-content;
    border-bottom: solid 3px;
    height: 45px;
}

.team__list {
    margin-top: 40px;
}

.team-member {
    vertical-align: text-top;
    width: 312px;
    margin-left: 150px;
    display: inline-block;
    /*Убираем пробельный зазор*/
    margin-right: -0.09em;;
}

.team-member:first-of-type {
    margin-left: 195px;
}

.team-member:last-of-type {
    margin-left: 122px;
}

.team-member__sign {
    margin-left: 63px;
    word-spacing: 1px;
    letter-spacing: 0px;
}

.team-member__sign span {
    font-family: CalibriLight;
    font-size: 22px;
    font-weight: lighter;
    color: #6e6d6b;
}

.team-member__sign span:last-child {
    font-family: CalibriLight;
    font-size: 22px;
    color: #fb9c06;
}

.team-member__avatar {
    margin-top: 24px;
    border-radius: 50%;
    border: solid 9px #fb9c06;
}

.member-description {
    font-family: CalibriLight;
    font-size: 15px;
    color: #6e6d6b;
    font-weight: bolder;
    max-width: 257px;
}

.team-member:nth-of-type(1) figcaption {
    display: block;
    margin-top: 22px;
    margin-left: 39px;
    line-height: 22px;
    word-spacing: 0.94px;
}

.team-member:nth-of-type(2) figcaption {
    display: block;
    margin-top: 19.5px;
    margin-left: 41px;
    line-height: 22px;
    word-spacing: 0.94px;
    letter-spacing: 0px;
}

.team-member:nth-of-type(3) figcaption {
    display: block;
    margin-top: 17.3px;
    margin-left: 37px;
    line-height: 22px;
    word-spacing: 0.94px;
    letter-spacing: 0.1px;
}

/* TEAM end*/

/*FEEDBACK*/

.feedback input, .feedback textarea {
    outline: 0;
    outline-offset: 0;
}

.feedback textarea {
    resize: none;
	width: 89%;
	font-size: 25px;
	height: 89px;
    margin-top: -2px;
    margin-left: 133px;
    border: none;
    border-left: solid 3px #d2d0cf;
    border-top: solid 1px #d2d0cf;
    background-color: #f8f7f6;
}

.feedback input {
	margin-top: 19px;
	margin-left: 994px;
}

.submitting {
	padding-bottom: 4.1px;
	width: 175px;
	height: 49px;
	text-align: center;
	vertical-align: middle;
	font: 32px StMarie;
	color: white;
	padding-right: 3px;
	background-color: #fb9c06;
	border: none;
	border-bottom: 4px solid #CC830F;
}

.submitting:hover {
    cursor: pointer;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.input-name:focus {
    border: 2px solid #fb9c06;
    box-shadow: 0 0 15px #fb9c06;
}

.input-email:focus {
    border: 2px solid #fb9c06;
    box-shadow: 0 0 15px #fb9c06;
}

.input-message:focus {
    border: 2px solid #fb9c06;
    box-shadow: 0 0 15px #fb9c06;
}

.feedback__greeting {
    text-align: center;
}

.feedback__content {
    margin: 0 auto;
    width: 75%;
    margin-top: 65px;
}

.feedback__content label {
    font-family: StMarie;
    font-size: 24px;
    color: #fb9c06;
}

.feedback__email {
    margin-top: 30px;
    letter-spacing: 1px;
    margin-left: 1px;
}

.feedback__message {
    margin-top: 23px;
    margin-left: -1px;
    letter-spacing: 0px;
}

.feedback__email input {
    width: 89%;
    font-size: 25px;
    border: none;
    border-left: solid 3px #d2d0cf;
    border-top: solid 1px #d2d0cf;
    background-color: #f8f7f6;
    vertical-align: middle;
    margin-left: 132px;
    margin-top: -53px;
}

.feedback__name input {
    width: 89%;
    font-size: 25px;
    border: none;
    border-left: solid 3px #d2d0cf;
    border-top: solid 1px #d2d0cf;
    background-color: #f8f7f6;
    margin-left: 132px;
    margin-top: -39px;
    vertical-align: middle;
}

.feedback__message label {
    vertical-align: top;
	position: absolute;
}

.form-title {
    font-family: StMarie;
    font-size: 40px;
    color: #fb9c06;
    padding-top: 36px;
    margin-left: 623px;
    letter-spacing: 1.09px;
    width: fit-content;
    border-bottom: solid 3px;
    height: 45px;
}

/*FEEDBACK end*/

/*FOOTER*/
footer {
    width: 1600px;
    position: absolute;
    background-color: #fb9c06;
    top: 1840px;
    height: 71px;
    border: none;
    border-bottom: 4px solid #CC830F;
}

.copyright-footer {
    font-family: StMarie;
    font-size: 32px;
    font-weight: lighter;
    color: #f0f0f0;
    text-align: center;
    padding-right: 0px;
    padding-top: 16px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

/*FOOTER END*/
